<div id="<%= dom_id exam %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Year:</strong>
    <%= exam.year %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Term:</strong>
    <%= exam.term %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subject:</strong>
    <%= exam.subject %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Grade:</strong>
    <%= exam.grade %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Overview:</strong>
    <%= exam.overview %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Student:</strong>
    <%= exam.student_id %>
  </p>

</div>
